<div class = "static-orange-content	">
<h1 class = "centered">Down Town Sports Camps</h1>

<h2>Gym Ratz AAU Summer Camp / Vacation Mini Camps</h2>
<p>
	Serving the North Jersey area for 20 years, the Gym Ratz, Down Town Sports Summer Camp directed by Coach Ozzie and Coach Danny Brown, is committed to offering the very best quality instruction with experienced, professional staff in a competitive, enthusiastic, teaching environment. Our goals, work ethic and positive leadership help bridge the gap between personal achievement and team success. <br />
	Athletes learn, compete, have fun, make friends, and are immersed in a training camp environment. Building 
	<strong>self-esteem and confidence </strong> through skill development and interactive coaching provides the 
	<strong>best basketball camp experience </strong> for your child today.
	<br /> <br />
	 Vacation Mini Camps are also offered throughout the calendar school year. Check back soon for dates and times.
</p>
</div>
	<div class = "static-cols-orange">
		<div class="row">
			<div class="col-xs-6">
				<h3> Program Schedule </h3>
				<table>
					<tr> 
						<td>8:30</td>  
						<td>am</td>
						<td> Supervised Practice for Early Players</td>
					</tr>
					<tr> 
						<td>9:00</td>  
						<td>am</td>
						<td> Camp Attendance-Stretch</td>
					</tr>
					<tr> 
						<td>9:15</td>  
						<td>am</td>
						<td> Daily Skill Stations, Instruction</td>
					</tr>
					<tr> 
						<td>10:15</td>  
						<td>am</td>
						<td> Contest of the Day</td>
					</tr>
					<tr> 
						<td>10:30</td>  
						<td>am</td>
						<td> Game or Team Practice</td>
					</tr>
					<tr> 
						<td>11:30</td>  
						<td>am</td>
						<td> Lunch; Coaches Chalk Talk</td>
					</tr>
					<tr> 
						<td>12:00</td>  
						<td>pm</td>
						<td> Game or Team Practice</td>
					</tr>
					<tr> 
						<td>1:00</td>  
						<td>pm</td>
						<td> Full Court Instruction</td>
					</tr>
					<tr> 
						<td>2:00</td>  
						<td>pm</td>
						<td> Game or Team Practice</td>
					</tr>
					<tr> 
						<td>2:50</td>  
						<td>pm</td>
						<td> Announcements; Awards of the Day!</td>
					</tr>
					<tr> 
						<td>3:00</td>  
						<td>pm</td>
						<td> Dismissal</td>
					</tr>
					<tr> 
						<td>3:30</td>  
						<td>pm</td>
						<td> Gym Closes</td>
					</tr>
				</table>

			</div>
			<div class="col-xs-6">
				<div class = "row">
					<h3> Program (Age) Grouping </h3>
					<dt> For Boys & Girls Grades 3-9 </dt>
					<p>
						Players are grouped according to age first, and then by Skill Ability and Basketball I.Q. second. Our goal
						is to challenge each player to maximize their potential and provide the opportunity for all players to promote 
						themselves in a safe teaching-learning environment.
					</p>
				</div>
				<div class="row">
					<h3>Summer Camp Weeks</h3>
					<table>
						<tr>
							<td><dt> Camp 1</dt></td>
							<td>July 07-11</td>
							<td><dt> Camp 4</dt></td>
							<td>July 28 - Aug 1</td>
						</tr>
						<tr>
							<td><dt> Camp 2</dt></td>
							<td>July 14-18</td>
							<td><dt> Camp 5</dt></td>
							<td>Aug 18-22</td>
						</tr>
						<tr>
							<td><dt> Camp 3</dt></td>
							<td>July 21-25</td>
							<td><dt> Camp 6</dt></td>
							<td>Aug 25-29</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<br />
		<div class = "row">
			<div class = "col-xs-6">
					<h3>Sign Up Today!</h3>
					<dt class = "inline"> Camp Tuition</dd> 
					<dd class = "inline"> $275 / Week </dd><br />
					<dt class ="inline">Early Bird Special - </dt>
					<dd class ="inline"> Sign Up Before June 1st, Save $50</dd>
					<dt>NYSC Member Save $25 / Week</dt>
					<dt>Gym Ratz Member Save $50 / Week</dt>
					<dd>**coupons and special offerings cannot be combined**</dd><br />	 <br />
			</div>
			<div class = "col-xs-6">
				<br /><br />
				<%= link_to "Register Online",new_summer_camper_url,:class => "button-look-orange",
					:id => "no-hover-orange"
				%>	
			</div>
		</div>
		</div>
		<div class = "static-cols-orange">
			<p class = "centered-orange"> 
				For more information <br />
				Call us at (201) 848-0017 <br />
			</p>
		</div>			




