<h1>Down Town Sports Camps</h1>

<h3>Gym Ratz AAU Summer Camp / Vacation Mini Camps</h3>
<p>
	Serving the North Jersey area for 20 years, the Gym Ratz, Down Town Sports Summer Camp directed by Coach Ozzie and Coach Danny Brown, is committed to offering the very best quality instruction with experienced, professional staff in a competitive, enthusiastic, teaching environment. Our goals, work ethic and positive leadership help bridge the gap between personal achievement and team success. Building 
	<strong>self-esteem and confidence </strong> through skill development and interactive coaching provides the 
	<strong>best basketball camp experience </strong> for your child today
</p>
<p> 
	Athletes learn, compete, have fun, make friends, and are immersed in a training camp environment. Vacation Mini Camps are offered daily throughout the calendar school year.
</p>
<h3> Program Schedule </h3>
<dl>
	<dd>8:30  am Supervised Practice for Early Players</dd>
	<dd>9:00  am Camp Attendance-Stretch</dd>
	<dd>9:15  am Daily Skill Stations, Instruction</dd>
	<dd>10:15 am Contest of the Day</dd>
	<dd>10:30 am Game of Team Practice</dd>
	<dd>11:30 am Lunch; Coaches Chalk Talk</dd>
	<dd>12:00 am Game or Team Practice</dd>
	<dd>1:00  am Full Court Instruction</dd>
	<dd>2:00  am Game of Team Practice</dd>
	<dd>2:50  am Announcements; Awards of the Day!</dd>
	<dd>3:00  am Dismissal</dd>
	<dd>3:30  am Gym Closes</dd>
</dl>
<h3> Program (Age) Grouping </h3>
<dt> For Boys & Girls Grades 3-9 </dt>
<p>
	Players are grouped according to age first, and then by Skill Ability and Basketball I.Q. second. Our goal
	is to challenge each player to maximize their potential and provide the opportunity for all players to promote 
	themselves in a safe teaching-learning environment.
</p>

<h3> Sign Up Today!</h3>
<p> Please download and mail <a href="#">this form</a> to:</p>
<p> Down Town Sports</p>
<p> 7 Leighton Place</p>
<p> Mahwah, NJ 07430</p>
<p> Make checks payable to: Down Town Sports</p>

<h3>Summer Camp Indicate Weeks</h3>
<dl>
	<dt> Camp 1</dt>
	<dd> July 08-12</dd>
	<dt> Camp 2</dt>
	<dd> July 15-19</dd>
	<dt> Camp 3</dt>
	<dd> July 22-26</dd>
	<dt> Camp 4</dt>
	<dd> July 29- Aug 2</dd>
	<dt> Camp 5</dt>
	<dd> Aug 19-23</dd>
	<dt> Camp 6</dt>
	<dd> July 26-30</dd>	
</dl>