<div class = "static-green-content">
<h1 class = "centered">Down Town Sports Clinics</h1>

<h2>Our Training Philosophy</h2>
<p> 
	We provide various training clinics for motivated, dedicated players to reach higher levels of competitive play. 
	Each session we evaluate and advance the understanding of the basketball work ethic, demonstrate specific aspects of key 
	player positions, build the confidence necessary for team competition, and reinforce best practices for <strong>rapid skill development.</strong> <br /> <br />
	We offer <strong>unique programs</strong> which include both individual and team instruction with professional, interactive coaches who pay personal attention
	to the fundamental skills of basketball. All players at all levels will have the opportunity to learn, practice, and compete in all of the latest
	drills, techniques, and ideas to maximize their potential.
</p>
</div>
<div class = "static-cols-green">
	<h3>Basketball Boot Camp</h3>
	<div class = "row">
		<div class = "col-xs-8">
			<h4>Will You Be Ready?</h4>
			<dl>
				<dt>All Aspects of the Game</dt> 
				<dd> Quickness...Endurance</dd>
				<dd> Strength...Conditioning</dd>
				<dd> Quickness...Endurance</dd>
				<dt>All Fundamental Skill Drills</dt>
				<dd> Defense...Ball Handling</dd>
				<dd> Shooting...Skill Stations</dd>
			</dl>
			<dl>
				<dt> For Boys & Girls Grades 3-8 </dt>
				<dd>Players are grouped according to age first, and then <br />by Skill Ability and Basketball I.Q. second.</dd>
			</dl>
		<p>
			<strong id = "black-text">8 Sessions </strong> (1 1/2 hours) <br />
			Clinic Fee: $250 <br />
		</p>

		</div>		
		<div class = "col-xs-3">
			<h4> Boys Boot Camp</h4>
			<dt><strong>Mondays 5:30 - 7:00 </strong><dt>
			<dd> Grades 3 - 4 - 5 Court 1</dd>
			<dd> Grades 6 - 7 - 8 Court 2</dd>
			<dd> <strong>Dates: </strong></dd> 
				 <li class= "no-bullet small-margin-left">March 24, 31</li>
				 <li class= "no-bullet small-margin-left">April 7, 14, 21, 28</li>
				 <li class= "no-bullet small-margin-left">May 5, 12</li>
			<br />
			<h4> Girls Boot Camp</h4>
			<dt><strong>Mondays 5:30 - 7:00 </strong><dt>
			<dd> Grades 3 - 4 - 5 Court 1</dd>
			<dd> Grades 3 - 4 - 5 Court 2</dd>
			<dd> <strong>Dates: </strong></dd> 
				 <li class= "no-bullet small-margin-left">March 25</li>
				 <li class= "no-bullet small-margin-left">April 1, 8, 15, 22, 29</li>
				 <li class= "no-bullet small-margin-left">May 6, 13</li>
		</div>
	</div>
	<br />

</div>

<div class = "static-cols-green">
	<h3> High School Pre-Season <strong> P-3 </strong> Basketball Clinic</h3>
	<h4>Push Past the Pain</h4>
	<dl>
		<dt>Session 1:  Oct 2 - Nov 6 2013</dt>
		<dd>Sessions on Thursday Nights 8:30-10:00</dd>
		<dd> 6 Sessions Total</dd>
		<dt>Session 2:  Nov 10-25 2013 </dt>
		<dd>Sessions Monday-Friday Nights 7:00-8:30</dd>
		<dd> 12 Sessions Total</dd>
	</dl>
	<dt>
		A Unique High School Basketball Clinic with a Major Focus on Instruction of Fundamental Basketball Skills
		along with Plyometric and Basketball Specific Conditioning!
	</dt>
	<p>
		These training sessions will significantly enhance your performance on the court by advancing you rapidly through
		all of the toughest skill development training drills for top-level performance, strength, quickness, and personal fitness. <br/>
		Come <strong> train with pro's and take your game to the top level</strong> while you prepare for the upcoming season. 
	</p>
</div>
<div class ="static-cols-green">
	<h3>Private Lessons</h3>
	<h4>Coaching That Suits You</h4>
	<p>
		Train on a <strong> One-On-One </strong> level with our coaches. <br />
		
		One hour sessions that work around your schedule
		to develop and improve <br />
		shooting, dribbling, speed, endurance, offense and defense. <br />
		Our experienced staff will focus on specific aspects of your game to take your abilities to the next level.

	</p>
</div>
<div class ="static-cols-green">
	<h3 class = "centered">Sign Up Today!</h3>
	<p class = "centered">
		For more information on any program <br />
		Call us at (201) 848-0017 <br />
	</p>
</div>