<div class = "static-green-content">
	<h1 class="centered"> Gym Ratz AAU Basketball </h1>
	<h2> The Gym Ratz Program</h2>
	<%=image_tag("gymratz.png", :id => "gymratz-page-img") %>
	<p> The Gym Ratz AAU Basketball Program is dedicated to offering players of all levels the opportunity to 
		<strong>improve and develop</strong> their individual and team skills. Our goal is to assist each player to reach their personal potential and highest
		level of play, and to offer exposure needed to be <strong>recruited at the next level</strong>. Each player will participate in highly 
		competitive practices, league games, travel tournaments, and high school/college show case events against some 
		of the best teams on the East Coast.

	</p>

</div>
<div class = "static-cols-green">
	<div class = "row">
		<h3 id ="no-underline" class = "centered">Join Us <strong>For Gym Ratz AAU</strong> Summer Tryouts</h3>
		<br />
	</div>
	<div class ="row">
		<div class = "col-xs-6">
			<h3 class ="centered">Tuesday June 10th</h3>
			<div class ="row">
				<h4 class ="centered">Girls Tryouts</h4>
				<table class = "centered-table">
					<tr> 
						<td>5:30</td>  
						<td>pm</td>
						<td> Girls Grade 3-4-5-6-7</td>
					</tr>
					<tr> 
						<td>7:30</td>  
						<td>pm</td>
						<td> Girls Grade 8-9-10-11</td>
					</tr>
				</table>
			</div>
		</div>
		<div class = "col-xs-6">
			<h3 class ="centered">Thursday June 12th</h3>
			<div class ="row">
				<h4 class ="centered">Boys Tryouts</h4>
				<table class = "centered-table">
					<tr> 
						<td>5:30</td>  
						<td>pm</td>
						<td> Girls Grade 3-4-5-6-7</td>
					</tr>
					<tr> 
						<td>7:30</td>  
						<td>pm</td>
						<td> Girls Grade 8-9-10-11</td>
					</tr>
				</table>
			</div>
		</div>

	</div>
		<br />
		<li class="black-text">Teams will train/practice twice per week </li>
		<li class = "black-text">Teams will be involved in league play / tournament play
		<br />
		<dt class = "centered">
			All Tryouts are Held at Down Town Sports
		</dt>
		<dd class = "centered"> Please call for more information</dd>
		<dd class = "centered"> (201)848-0017</dd>

	</div>

</div>