<div class = "static-green-content">
	<h1 class="centered"> Gym Ratz AAU Basketball </h1>
	<h2> The Gym Ratz Program</h2>
	<%=image_tag("gymratz.png") %>
	<p> A program for <strong>serious players</strong> to improve team skills and maximize individual potential. This is accomplished through structured practices, league games, and tournament competition against some of the best teams on the East Coast. Players must maintain a high GPA, demonstrating <strong>character and commitment</strong> both on and off the court. The AAU season runs each Spring from March 1 - June 30. <br/> <br />
		The Gym Ratz AAU Program includes weekly practices, local and league scrimmage games, travel tournaments, and high-exposure events.

	</p>

</div>
<div class = "static-cols-green">
	<div class = "row">
		<h3 class = "centered">Gym Ratz AAU Tryouts</h3>
	</div>
	<div class ="row">
		<div class = "col-xs-6">
			<h3 class ="centered">Youth Teams</h3>
			<div class ="row">
				<h4 class ="centered">Girls Tryouts</h4>
				<li class ="centered no-bullet"><strong class="black-text">Saturday - March 1</strong></li>
				<table class = "centered-table">
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Girls Grade 3-4</td>
					</tr>
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Girls Grade 5</td>
					</tr>
					<tr> 
						<td>11:00-12:30</td>  
						<td>pm</td>
						<td> Girls Grade 6</td>
					</tr>
					<tr> 
						<td>1:00-2:30</td>  
						<td>pm</td>
						<td> Girls Grade 7</td>
					</tr>
					<tr> 
						<td>3:00-4:30</td>  
						<td>pm</td>
						<td> Girls Grade 8</td>
					</tr>
				</table>
			</div>
			<div class ="row">
				<h4 class ="centered">Boys Tryouts</h4>
				<li class ="centered no-bullet"><strong class="black-text">Sunday - March 2</strong></li>
				<table class = "centered-table">
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Boys Grade 3-4</td>
					</tr>
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Boys Grade 5</td>
					</tr>
					<tr> 
						<td>11:00-12:30</td>  
						<td>pm</td>
						<td> Boys Grade 6</td>
					</tr>
					<tr> 
						<td>1:00-2:30</td>  
						<td>pm</td>
						<td> Boys Grade 7</td>
					</tr>
					<tr> 
						<td>3:00-4:30</td>  
						<td>pm</td>
						<td> Boys Grade 8</td>
					</tr>
				</table>
			</div>
		</div>
		<div class = "col-xs-6">
			<h3 class ="centered">High School</h3>
			<div class ="row">
				<li class ="centered no-bullet"><strong class="black-text">Saturday - March 8</strong></li>
				<table class = "centered-table">
					<tr> 
						<td>9:00-11:00</td>  
						<td>am</td>
						<td> Girls Grade 9</td>
					</tr>
					<tr> 
						<td>9:00-11:00</td>  
						<td>am</td>
						<td> Girls Grade 10</td>
					</tr>
					<tr> 
						<td>9:00-11:00</td>  
						<td>am</td>
						<td> Girls Grade 11</td>
					</tr>
					<tr> 
						<td>12:00-2:00</td>  
						<td>pm</td>
						<td> Boys Grade 9</td>
					</tr>
					<tr> 
						<td>12:00-2:00</td>  
						<td>pm</td>
						<td> Boys Grade 10</td>
					</tr>
					<tr> 
						<td>3:00-5:00</td>  
						<td>pm</td>
						<td> Boys Grade 11-12</td>
					</tr>
					
				</table>
			</div>
			<div class ="row">
				<h4 class ="centered underlined">Invitation Only</h4>
				<li class ="centered no-bullet"><strong class="black-text">Sunday - March 9</strong></li>
				<table class = "centered-table">
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Girls Grade 3-5</td>
					</tr>
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Boys Grade 3-5</td>
					</tr>
					<tr> 
						<td>11:00-12:30</td>  
						<td>pm</td>
						<td> Girls Grade 6</td>
					</tr>
					<tr> 
						<td>11:00-12:30</td>  
						<td>pm</td>
						<td> Boys Grade 6</td>
					</tr>
					<tr> 
						<td>1:00-2:30</td>  
						<td>pm</td>
						<td> Girls Grade 7</td>
					</tr>
					<tr> 
						<td>1:00-2:30</td>  
						<td>pm</td>
						<td> Boys Grade 7</td>
					</tr>
					<tr> 
						<td>3:00-4:30</td>  
						<td>pm</td>
						<td> Girls Grade 8</td>
					</tr>
					<tr> 
						<td>3:00-4:30</td>  
						<td>pm</td>
						<td> Boys Grade 8</td>
					</tr>
				</table>
			</div>
		</div>
		
		<dt class = "centered">
			All Tryouts are Held at Down Town Sports
		</dt>
		<dd class = "centered"> Please call for more information</dd>
		<dd class = "centered"> (201)848-0017</dd>

	</div>

</div>