<div class = "static-green-content">
	<h1 class="centered"> Gym Ratz AAU Basketball </h1>
	<h2> The Gym Ratz Program</h2>
	<%=image_tag("gymratz.png", :id => "gymratz-page-img") %>
	<p> The Gym Ratz AAU Basketball Program is dedicated to offering players of all levels the opportunity to 
		<strong>improve and develop</strong> their individual and team skills. Our goal is to assist each player to reach their personal potential and highest
		level of play, and to offer exposure needed to be <strong>recruited at the next level</strong>. Each player will participate in highly 
		competitive practices, league games, travel tournaments, and high school/college show case events against some 
		of the best teams on the East Coast.

	</p>

</div>
<div class = "static-cols-green">
	<div class = "row">
		<h3 class = "centered">Gym Ratz AAU Tryouts</h3>
	</div>
	<div class ="row">
		<div class = "col-xs-6">
			<h3 class ="centered">Youth Teams</h3>
			<div class ="row">
				<h4 class ="centered">Girls Tryouts</h4>
				<li class ="centered no-bullet"><strong class="black-text">Saturday - March 1</strong></li>
				<table class = "centered-table">
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Girls Grade 3-4</td>
					</tr>
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Girls Grade 5</td>
					</tr>
					<tr> 
						<td>11:00-12:30</td>  
						<td>pm</td>
						<td> Girls Grade 6</td>
					</tr>
					<tr> 
						<td>1:00-2:30</td>  
						<td>pm</td>
						<td> Girls Grade 7</td>
					</tr>
					<tr> 
						<td>3:00-4:30</td>  
						<td>pm</td>
						<td> Girls Grade 8</td>
					</tr>
				</table>
			</div>
			<div class ="row">
				<h4 class ="centered">Boys Tryouts</h4>
				<li class ="centered no-bullet"><strong class="black-text">Sunday - March 2</strong></li>
				<table class = "centered-table">
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Boys Grade 3-4</td>
					</tr>
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Boys Grade 5</td>
					</tr>
					<tr> 
						<td>11:00-12:30</td>  
						<td>pm</td>
						<td> Boys Grade 6</td>
					</tr>
					<tr> 
						<td>1:00-2:30</td>  
						<td>pm</td>
						<td> Boys Grade 7</td>
					</tr>
					<tr> 
						<td>3:00-4:30</td>  
						<td>pm</td>
						<td> Boys Grade 8</td>
					</tr>
				</table>
			</div>
		</div>
		<div class = "col-xs-6">
			<h3 class ="centered">High School</h3>
			<div class ="row">
				<li class ="centered no-bullet"><strong class="black-text">Saturday - March 8</strong></li>
				<table class = "centered-table">
					<tr> 
						<td>9:00-11:00</td>  
						<td>am</td>
						<td> Girls Grade 9</td>
					</tr>
					<tr> 
						<td>9:00-11:00</td>  
						<td>am</td>
						<td> Girls Grade 10</td>
					</tr>
					<tr> 
						<td>9:00-11:00</td>  
						<td>am</td>
						<td> Girls Grade 11</td>
					</tr>
					<tr> 
						<td>12:00-2:00</td>  
						<td>pm</td>
						<td> Boys Grade 9</td>
					</tr>
					<tr> 
						<td>12:00-2:00</td>  
						<td>pm</td>
						<td> Boys Grade 10</td>
					</tr>
					<tr> 
						<td>3:00-5:00</td>  
						<td>pm</td>
						<td> Boys Grade 11-12</td>
					</tr>
					
				</table>
			</div>
			<div class ="row">
				<h4 class ="centered underlined">Invitation Only</h4>
				<li class ="centered no-bullet"><strong class="black-text">Sunday - March 9</strong></li>
				<table class = "centered-table">
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Girls Grade 3-5</td>
					</tr>
					<tr> 
						<td>9:00-10:30</td>  
						<td>am</td>
						<td> Boys Grade 3-5</td>
					</tr>
					<tr> 
						<td>11:00-12:30</td>  
						<td>pm</td>
						<td> Girls Grade 6</td>
					</tr>
					<tr> 
						<td>11:00-12:30</td>  
						<td>pm</td>
						<td> Boys Grade 6</td>
					</tr>
					<tr> 
						<td>1:00-2:30</td>  
						<td>pm</td>
						<td> Girls Grade 7</td>
					</tr>
					<tr> 
						<td>1:00-2:30</td>  
						<td>pm</td>
						<td> Boys Grade 7</td>
					</tr>
					<tr> 
						<td>3:00-4:30</td>  
						<td>pm</td>
						<td> Girls Grade 8</td>
					</tr>
					<tr> 
						<td>3:00-4:30</td>  
						<td>pm</td>
						<td> Boys Grade 8</td>
					</tr>
				</table>
			</div>
		</div>
		
		<dt class = "centered">
			All Tryouts are Held at Down Town Sports
		</dt>
		<dd class = "centered"> Please call for more information</dd>
		<dd class = "centered"> (201)848-0017</dd>

	</div>

</div>