<div class = "static-green-content">
	<h1> Gym Ratz AAU Basketball </h1>
	<h2> Our Mission </h2>
	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis quam lacus. Nunc dolor enim, hendrerit non tortor non, mollis vestibulum mauris. Vivamus ut mi non sem pharetra lacinia ac eu sapien. Nunc non porttitor est, et faucibus orci. Pellentesque in mauris sed tortor lobortis cursus ullamcorper in sem. In faucibus iaculis urna dignissim pharetra. Suspendisse eleifend eleifend metus vel eleifend. Vivamus nec consectetur mi. Aenean sit amet libero eros. Proin bibendum auctor volutpat.
	</p>

	<h2> Another Header </h2>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis quam lacus. Nunc dolor enim, hendrerit non tortor non, mollis vestibulum mauris. Vivamus ut mi non sem pharetra lacinia ac eu sapien. Nunc non porttitor est, et faucibus orci. Pellentesque in mauris sed tortor lobortis cursus ullamcorper in sem. In faucibus iaculis urna dignissim pharetra. Suspendisse eleifend eleifend metus vel eleifend. Vivamus nec consectetur mi. Aenean sit amet libero eros. Proin bibendum auctor volutpat.
	</p>
</div>