<div id="main-carousel" class="carousel slide" data-ride="carousel">

	<ol class="carousel-indicators">
		<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#main-carousel" data-slide-to="1"></li>
		<li data-target="#main-carousel" data-slide-to="2"></li>
		<li data-target="#main-carousel" data-slide-to="3"></li>
	</ol>

	<div class="carousel-inner">
		<div class=" item active green-content content-height">
			<%= image_tag("court1.jpg"); %>
			<h2>The Gym</h2>
			<h1>Two Full Basketball Courts</h1>
			<p>
			With two full hardwood basketball courts, our facility
			hosts a variety of sporting events. From tournaments,
			to practices, and even parties Down Town Sports is the perfect
			place to hold your next event. Desc needs Improvement...
			</p>
		</div>
		<div class="item gray-content content-height content-padding">
			<p id="gymratz-desc">
			<a href="#" class="underlined">The Gymratz Ball Club</a>
			is one of the elite programs of the 
			Northeast. We offer year round training for boys and girls
			of all ages. This is where a better description of the program
			will go!
			</p>
			<h2>The Team</h2>
			<h1>GymRatz AAU Basketball</h1>
		</div>
		<div class="item orange-content content-height content-padding">
			<p>
			Our goal is to help our players be the best that they can be. We
			offer a wide variety of training programs appropriate for every
			skill level including private One-On-One lessons and group clinics.
			Think you have what it takes?
			<a href="#" class="underlined">Sign up for our Gymratz Boot
			Camps today!</a>
			</p>
			<h2>The Coaching</h2>
			<h1>Training That Suits You</h1>

		</div>
		<div class = "item gray-content content-height" id="shop-content">
			<%= image_tag("jersey.JPG", class: "float-right", id: "shop-img"); %>
			<h2>The Shop</h2>
			<h1>All The Best Gymratz Gear</h1>
			<p class="no-float">
				Here is where a great description of the gymratz gear will go.
				It will have information about the different clothing you can get
				and it will sound nice.
				<a href="#" class="block-display underlined" >Come get the latest and greatest Gymratz Gear!</a>
			</p>
		</div>
	</div>

	<a class="carousel-control left" href="#main-carousel" data-slide="prev"> < </a>

	<a class="carousel-control right" href="#main-carousel" data-slide="next"> > </a>
</div>
<div id="columns-container">
	<div class="row main-row">
		<div class="col-xs-4 column3">
			<h3>Who Are We</h3>
			<p>
				Down Town Sports, located in Mahwah, NJ, is a new facility consisting of
				two full-sized basketball courts, party rooms, spacious lobby, team locker
				rooms, and a full vending service.
				
			</p>

		</div>
		<div class="col-xs-4 column3">
			<h3>What We Do</h3>
			<p>
				Programs include Gym Ratz AAU basketball, basketball boot camps, 
				specialized player position clinics, summer camps, individual training, 
				and youth and adult basketball leagues.  Down Town Sports is also fully equipped 
				for all of your party needs.  Birthday's, and Bar/Bat Mitzvah's are available, 
				with access to both basketball courts and our party rooms.
			</p>
		</div>
		<div class="col-xs-4 column3">
			<h3>Important Dates</h3>
			<ul>
				<li><strong>March 1:</strong> <a href="#">Gymratz Tryouts</a></li>
				<li><strong>April 22:</strong> <a href="#">Down Town Sports Tournament</a></li>
				<li><strong>July 6:</strong> <a href="#">Gymratz Summer Camp</a></li>
			</ul>
			<h3>Quick Forms</h3>
			<ul>
				<li><a href="#">Program Registration</a></li>
				<li><a href="#">Gymratz Registration</a></li>
				<li> <a href="#">Tournament Registration</a></li>
			</ul>
		</div>
	</div>
</div>