<div id="main-carousel" class="carousel slide" data-ride="carousel">

<!-- 	<ol class="carousel-indicators">
		<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
	</ol> -->

	<div class="carousel-inner">
		<div class=" item dark-green-content content-height content-padding active">
			<p>
				<strong>P-3 Clinic: November 10-21</strong><br /> <br />
				Boys and Girls Grades 9-12 <br />
				Monday - Friday Nights 7:00 - 8:30 <br />
				Get Ready for Tryouts and the Upcoming 2014-2015 Season! <br /> <br />
				<%= link_to "Sign Up Today!","2014_p3_registration_form.pdf", :class => "underlined" %>
			</p>

			
			<h2>P-3 "Push Past the Pain"</h2>
			<h1 style="margin-right: 20px; font-size:30px;">Pre-Season High School Clinic</h1>
		</div>		
	</div>

<!-- 	<a class="carousel-control left" href="#main-carousel" data-slide="prev"> < </a>

	<a class="carousel-control right" href="#main-carousel" data-slide="next"> > </a> -->
</div>


<div id="columns-container">
	<div class="row main-row">
		<div class="col-xs-4 column3">
			<h3>Who We Are</h3>
			<p>
				Down Town Sports, located in Mahwah, NJ, is a new facility consisting of
				two full-sized basketball courts, party rooms, spacious lobby, team locker
				rooms, and a full vending service.
				
			</p>

		</div>
		<div class="col-xs-4 column3">
			<h3>What We Do</h3>
			<p>
				Programs include Gym Ratz AAU basketball, basketball boot camps, 
				specialized player position clinics, summer camps, individual training, 
				and youth and adult basketball leagues.  Down Town Sports is also fully equipped 
				for all of your party needs.  Birthday's, and Bar/Bat Mitzvah's are available, 
				with access to both basketball courts and our party rooms.
			</p>
		</div>
		<div class="col-xs-4 column3">
			<h3>Important Dates</h3>
			<ul>
				<li><strong>Aug 22</strong> The Finals H.S. Tournament</li>
				<li><strong>Aug 25:</strong> Summer Camp</li>
				<li><strong>Sept 6/7:</strong> Gym Ratz Boys/Girls Tryouts </li>
			</ul>
			<h3>Quick Forms</h3>
			<ul>
				<li><a href="program_registration.pdf">Program Registration</a> </li>
				<li><a href="gym_ratz_signup.pdf">Gym Ratz Tryouts Form</a> </li>
				<li> <a href="tournament_form.pdf">Tournament Registration</a></li>
			</ul>
		</div>
	</div>
</div>
