<h1>Leagues</h1>

<h3>Down Town Tournament</h3>
<p>
	The Gym Ratz AAU Spring Tournament is open to both Boys and Girls Club Teams Grades 3-11. With A and B Pool Levels and 6 teams per divsion, 
	each team is <strong> guaranteed 3 games </strong> <br />
	Individual Championship and Tournament MVPs trophies will be awarded to top competitors <br /> <br />
	Please do not delay. Teams are registered on a First Come Basis! <br />
</p>
<dl>
	<dt> When</dt>
	<dd> May 18-20</dd>
	<dt> Where </dt>
	<dd> Ramapo College, Mahwah</dd>
	<dd> Down Town Sports, Mahwah</dd>
	<dt> Entry Free </dt>
	<dd> $350 per team </dd>
	<dt> Contact Coach Ozzie</dt>
	<dd> (201)851-7504</dd>
	<dd> coachozzie34@aol.com</dd>
</dl>
<h3>AAU Youth League</h3>
<p> 
Our Spring AAU Youth Basketball League will begin in April. Four divisions are available for both boys and girls ages 10-17. Games will be played during week nights here at Down Town Sports. <br /> <br />
Club Teams, CYO Teams, Town Travel Teams are all welcome in the Spring League. 8 teams are accepted in each division, on a first come basis.
</p>
<dl>
	<dt> Dates </dt>
	<dd> April - June </dd>
	<dt> Cost </dt>
	<dd> $795 per team </dd>
</dl>
