<div class ="static-green-content">
	<h1 class="centered">Leagues and Tournaments</h1>
	<br />
	<br />
</div>
<div class = "static-cols-green">
	<h3>Gym Ratz Spring Invitational</h3>
	<p>The Gym Ratz AAU Spring Invitational is a tournament open to both Boys and Girls Teams Grades 3-11</p>
	<ul>
		<li>A Level and B Level Pools - 6 teams per divsion </li>
		<li>Each Team <strong> Guaranteed 4 Games </strong></li>
		<li>Individual Championship and Tournament MVPs trophies will be awarded to top competitors</li>
	</ul>
	<div class = "row">
		<div class = "col-xs-6">
			<dt > When</dt>
			<dd> May 16-18</dd>
			<dt> Where</dt>
			<dd> Ramapo College, Mahwah</dd>
			<dd>Down Town Sports, Mahwah</dd>

			<dt> Entry Free</dt>
			<dd> $385 per Team</dd>
		</div>
		<div class = "col-xs-6">

			<dt> Contact Coach Ozzie</dt>
			<dd> (201)851-7504</dd>
			<dd> coachozzie34@aol.com</dd>
			<dt> Please do not delay. Teams are registered on a First Come Basis!</dt>
			
		</div>
	</div>
</div>
<div class = "static-cols-green">
	<h3>Gym Ratz One Day Shootout Tournaments</h3>
	<p>The One Day Shootout Tournaments are open to both Boys and Girls Teams</p>
	<li class = "no-bullet"><strong>Each Team Guarenteed 3 Games</strong> </li>
	<p>	<strong>Championship T-Shirts To Any Team Finishing 3-0</strong> <br /> <br /></p>
	<div class = "row">
		<div class = "col-xs-6">
			<dt > April 26th</dt>
			<dd> Boys Grades 5-8</dd>
			<dt > April 27th</dt>
			<dd> Girls Grades 5-8</dd>
			<dt > May 10th</dt>
			<dd> Boys and Girls Grades 5-6</dd>
			<dt > June 7th</dt>
			<dd> Boys Grades 5-8</dd>
			<dt > June 8th</dt>
			<dd> Girls Grades 5-8</dd>
		</div>
		<div class = "col-xs-6">
			<dt> Where</dt>
			<dd>Down Town Sports, Mahwah</dd>

			<dt> Entry Free</dt>
			<dd> $285 per Team</dd>
			<dt> Contact Coach Ozzie</dt>
			<dd> (201)851-7504</dd>
			<dd> coachozzie34@aol.com</dd>
			<dt> Please do not delay. Teams are registered on a First Come Basis!</dt>
		</div>
	</div>
</div>
<div class = "static-cols-green">
	<h3>Down Town AAU Youth League</h3>
	<p> 
	Our Spring AAU Youth Basketball League will begin in April. Four divisions are available for both boys and girls ages 10-17. Games will be played during week nights here at Down Town Sports. <br /> <br />
	Club Teams, CYO Teams, Town Travel Teams are all welcome in the Spring League. 8 teams are accepted in each division, on a first come basis. <br /> <br />
	</p>	
	<div class = "row">
		<div class = "col-xs-6">
			<dt > When</dt>
			<dd> April - June</dd>
			<dt> Where</dt>
			<dd>Down Town Sports, Mahwah</dd>

			<dt> Entry Free</dt>
			<dd> $895 per Team</dd>
		</div>
		<div class = "col-xs-6">

			<dt> Contact Down Town Sports</dt>
			<dd> (201)848-0017</dd>
			<dt> Please do not delay. Teams are registered on a First Come Basis!</dt>
		</div>
	</div>
</div>
<% if is_admin? %>
	<div class ="static-cols-green">
		<%= link_to "Tournaments Index", tournaments_path %> <br />
		<%= link_to "Registered Teams Index", organizations_path %> <br />
	</div>
<% end %>