<div class = "static-green-content">
	<h1 class="centered">The Shop</h1>
	<h2>Still in Progress</h2>
	<p>
		Thank you very much for visiting the <strong>Gym Ratz Shop!</strong> Unfortunately, the Online Store is still being developed, but will open very soon! <br />
		<br />
		Thanks for supporting the Gym Ratz AAU Community! 

	</p>
</div>