<div class="static-page green">
    <h1>Photo Gallery</h1>
    <div id="press-page">
    <div class="container-fluid" style="max-width: 1200px; margin: auto;">
        <div id="press-list"></div>
    </div>
    <script src="http://realzacbrown.com/public/js/common.js"></script>
    <script src="http://realzacbrown.com/public/js/downtownimages.js"></script>
</div>
