<div class = "static-green-content">
	<h1 class = "centered">Thank You</h1>

	<h2>Congratulations!</h2>
	<h3>You successfully registered with the Gym Ratz AAU Program! </h3>
	<h4>You will receive an email shortly confirming your registration status</h4>

</div>