<h1>Editing player</h1>

<%= render 'form' %>

<%= link_to 'Show Player Info', @player %> |
<%= link_to 'Back To Players List', players_path %>|
<%= link_to 'Show '+@player.team.team_name+' Roster', @player.team %>