<div class="organization-form">
<h1 class ="centered">Gym Ratz AAU Registration Form </h1>
<h3>*Note: All email addresses entered will be used for our Team Management System to automatically notify you of any upcoming practices, games, or tournaments</h3>
</div>

<%= render 'form' %>

