#party-carousel{
	margin-bottom: 10px;
	.item{	
		img{
			width: 100%;
			height: auto;		
		}
	}
}
#home-carousel{
	.item{
		display: none;
		img{
			width: 100%;
			height: auto;
		}
	}
	.item:first-child{
		display: block;
	}
}