.header{
	padding: 20px 60px;

	h1,h2,h3,h4,p{ margin:0}
	background-color: $light-gray;
	h1{
		font-size: 50px;
		font-weight: bold;
		text-align: center;
	}
	h2{
		text-align: center;
		font-weight: bold;
		padding-bottom: 10px;
		border-bottom: 1px solid darken($light-gray, 15%);
		margin: 0 0 10px;
		color: $dark-green;
		strong{
			font-size: 120%;
		}
	}
	h3{
		font-size: 30px;
		margin-bottom: 10px;
		font-weight: bold;
	}
	h4{
		font-size: 20px;
		color: $dark-orange;
	}
	p{
		margin-bottom: 20px;
		text-align: justify;
	}
	@media (max-width: $screen-sm-max) {
		padding: 20px !important;
	  h1{
	  	text-align: center !important;
	  }
	  h2{
	  	text-align: center !important;
	  }
	}

	&.green{
		background: #16362b;
		h1{
			color: #fedc3a;
		}
		h2{
			color: $light-gray;
			border-bottom: 1px solid darken(#16362b, 10%);
		}
		p{
			background: $light-gray;
		}
	}

}
.home-panel{
	height: 100%;
	padding: 8px 2px;
	overflow: scroll;
	h3{
		color: $light-gray !important;
		text-align: center;
	}
	p{
		background: $light-gray !important;
		color: $gray !important;
		border: none !important;
		text-align: justify;
		padding: 0 !important;
	}
	.panel-content{
		background-color: $light-gray;
		padding: 10px;
	}
	dl{
		dt{
			color: black !important;
		}
	}
	.link-container{
		padding: 15px;
		text-align: right;
		a{
			text-decoration: underline;
			color: #fedc3a;
			&:hover{
				color: lighten(#fedc3a, 10%);
			}
		}
	}
}
.home-footer{
	h3{
		text-align: center;
		color: #fedc3a;
	}
	p{
		padding: 10px;
		text-align: justify;
		color: $light-gray;
	}
	dl{
		padding: 10px;
		color: $light-gray;
	}
	a{
		color: $light-gray;
		&:hover{
			color: lighten($orange, 8%);
		}
	}
}