<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Test Email From Team Manager</h1>
    <p>
      Hello, <br />
      This is a test email to make sure that the Team Manager System properly can contact all players in an efficient, timely manner. <br />
      Thank you once again for registering with the Gym Ratz and being patient as we iron out small details with our new emailing system.

    </p>
    <p>
      This is an automated email. Please do not reply
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
