$navbar-default-bg: black;
$nav-orange: #ff8c00;


// mobile colors
// border colors - brighter than content
// $mobile-light-green: #43a047;
$mobile-light-green: #ffebee;
$mobile-yellow: #fdd835;




// border colors - brighter than content
$border-green: #aefcae;


$light-orange: #f0a70c;
// $light-green: #4bbf4b;
$light-green: #ce93d8;
$light-gray: #eeeeee;

$yellow: #ffd83d;
$green: #269626;
$orange: #ff9d00;
$gray: $light-gray;
$dark-orange: #e6782e;
$dark-green: #006600;
$dark-gray: #656565;

$navbar-default-color: $nav-orange;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: #ff8c00;

// point at which navbar becomes uncollapsed
$grid-float-breakpoint: 1060px;
//point at which the navbar begins collapsing
$grid-float-breakpoint-max: 1059px;

//button stuff
$btn-default-bg: $gray;
$btn-default-color: $dark-orange;
$btn-primary-bg: $light-green;
$btn-danger-bg: $orange;

//panel stuff
$panel-bg: $light-gray;

//link stuff
$link-color: $green;

@import "bootstrap-sprockets";
@import 'bootstrap';
@import "partials/home";
@import "partials/static_pages";
@import "partials/forms";
@import "partials/buttons";
@import "partials/carousels";
body{
	background: #1b1b1b;
}
// ul.nav.navbar-nav{
//   margin-top: 75px;
// }

nav.navbar.navbar-default{
	margin-bottom: 0;
}

// Collapse width fix
@media (max-width: $screen-sm-max) {
  ul.nav.navbar-nav{
    margin-top: 0
  }
}


.centered-text{
	text-align: center;
}
.right-text{
	text-align: right;
}
.padding-bottom-10{
	padding-bottom: 10px !important;
}
.margin-bottom-10{
	margin-bottom: 10px !important;
}

.padding-bottom-20{
	padding-bottom: 20px !important;
}
.margin-bottom-20{
	margin-bottom: 20px !important;
}

.inline{
	display: inline;
}
.float-left{
	float: left;
}

.float-right{
	float: right
}

.clearfix{
	display:block;
}

.clearfix:after{
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height:0;
}

* html .clearfix{
	height: 1%;
}

dl{
	dt{
		&.inline{
			margin-right: 10px;
		}
	}
	&.dl-single-line{
		dt{
			float: left;
		}
		dd{
			float: right;
		}
	}
}

.orange-text{
	color: $light-orange !important;
}
ul{
	li{
		strong{
			&.orange{
				color: $light-orange !important;
			}
		}
	}
}
.panel{
	border:none;
	border-radius: 0;
}