// border colors - brighter than content
$border-green: #aefcae;
$border-orange: #ffa058;
$light-orange: #f0a70c;
$light-green: #2a9900;
$light-gray: #eeeeee;

$yellow: #ffd83d;
$green: #269626;
$orange: #ff9d00;
$dark-orange: #e6782e;
$dark-green: #006600;
$dark-gray: #656565;

@import "application_similarities";

.event-container{
	border-bottom: 1px solid $light-gray;
	padding: 5px;
	h4{
		// color: black;
	}
	span{
		display: block;
		font-size: 16px;
		strong{
			color: $gray;
		}
	}
}

.all-events{
	margin-bottom: 10px;

	.btn-default{
		width: 100%;
		display: block;
		color: black;
	}
	.event-container:first-child{
		margin-top: -10px;
	}
}