// border colors - brighter than content
$border-green: #aefcae;

$light-orange: #f0a70c;
$light-green: #558b2f;
$light-gray: #eeeeee;

$yellow: #ffca28;
$green: #269626;
$orange: #ff9d00;
$gray: $light-gray;
$dark-orange: #e6782e;
$dark-green: #006600;
$dark-gray: #656565;

@import "application_similarities";