/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
  *= require_self
 *= require jquery.ui.all
 *= require jquery.ui.datepicker
 *= require_tree .
 */


table{
	border:2px solid white;
}
table th{
	padding:5px;
}
table tr{
	border: 1px solid white;
}

table td{
	border: 1px solid white;
	padding:5px;
}

form input{
	color:black;
}

form{
	padding:2px;
	background: #1b1b1b;
}
form label{
	color:#ffe77d;
}
form input{
	color:black;
}

form select{
	color:black;
}

.dropdown-small{
	border:2px solid orange;
	padding:0;
}