/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
  *= require_self
 *= require jquery.ui.all
 *= require jquery.ui.datepicker
 *= require_tree .
 */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#add-teams-button{
  font-size: 50px;
}

#allow-overflow{
  overflow: visible;
}
.plain-table{
  background:white;
  border: 1px solid black;
}
.plain-table tr td, .plain-table tr th{
  padding: 10px;
  color:black;
  border: 1px solid black;
}
#orange-text{
  color:#E6782E
}
#red-text{
  color:red;
}
#dark-green-text{
  color:#006600;
}
#black-text{
  color:black;
}
#large-text{
  font-size: 18px;
}

#no-underline{
  text-decoration: none;
}
.full-width{
  width: 90%;
}
.small-margin-left{
  margin-left: 10px;
}
.med-margin-left{
  margin-left: 20px;
}
.auto-margin{
  margin: auto;
  margin-bottom: 10px;
}
.no-bullet{
  list-style: none;
}
.large-padding{
  padding: 10px 80px;
}
.bright-green-text{
  color:#52CC52;
}
.huge{
  font-size: 30px;  
}
.huge:focus{
  color:#52CC52;
}
.centered-table{
  margin: auto;
}
#check-box-margin{
  margin-left: 30px;
}
#black-link{
  color:black;
}
#black-link:hover{
  color:#E6782E;
}
#no-border{
  border-bottom: none;
}
.black-text{
  color:black;
}
.dark-orange-background{
  background:#903A00;
  padding: 10px;
  border: 1px solid #903A00;
  border-radius: 10px;
}
.inline{
  display: inline;
}
table{
	border:2px solid white;
}
table th{
	padding:5px;
}
table tr{
	border: 1px solid white;
}

table td{
	border: 1px solid white;
	padding:5px;
}

form input{
	color:black;
}

form{
	padding:2px;
	background: #1b1b1b;
}
form label{
	color:#ffe77d;
}
form input{
	color:black;
}

form select{
	color:black;
}

.dropdown-small{
	border:2px solid orange;
	padding:0;
}
.calendar{
  color:black;
}
.calendar table {
  border-collapse: collapse;
  width: 100%;
}
.calendar{
  font-size:8px;
}
.calendar td,
.calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

.calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

.calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

.calendar .notmonth {
  color: #CCC;
}

.calendar .month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.calendar .month a, .calendar .month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

.calendar .today {
  background-color: #D7F2FF;
}

.calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

.calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}
.calendar dd,.calendar dt,.calendar a{
    font-size:10px;
}
.calendar dd{

  color:#006600;
}

.bold-text{
  font-weight: bold;
}
.dark-green-text{
  color:#006600;
}

#blue-link{
  color: blue;
  text-decoration: underline;
}
#blue-link:hover{
  color:black;
}
#dropdown-form{
  width: 500px;
}
.button-look {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab4ba) );
  background:-moz-linear-gradient( center top, #ededed 5%, #bab4ba 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab4ba');
  background-color:#ededed;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#006600;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:158px;
  text-decoration:none;
  text-align:center;
}
.button-look:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bab4ba), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #bab4ba 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab4ba', endColorstr='#ededed');
  background-color:#bab4ba;
}.button-look:active {
  position:relative;
  top:1px;
}

#no-hover-change:hover{
  text-decoration: none;
  color:#006600;
}