
.content-height{
	height: 410px;
	box-sizing:border-box;
}

.content-padding{
	padding-top:120px;
	padding-bottom: 40px;
}
.float-right{
	float:right;
}
.text-right{
	text-align: right;
}

.block-display{
	display:block;
}

.underlined{
	text-decoration: underline;
}
#shop-content h2{
	margin-top:90px;
}

#page{
	margin:auto;
	width:960px;
	color:white;
	font-family: "AvenirNextRoundedW01-Md", helvetica, arial, sans-serif;
	border:1px solid black;
	background: #1b1b1b;
}
#banner{
	width: inherit;
	height: 130px;
	position:relative;
	background:black;
}
#banner-container{
	background:black;
	height:130px;
}

#logo{
	float:left;
	max-width: 150px;
}
#title{
	margin:auto;
	padding-top: 40px;
	float:left;
	width: 130px;
}

.banner-image{
	float:left;
	padding-bottom:0;
	margin-bottom:0;
}

#main-menu{
	position: relative;
	float:right;
	top:-45px;
	margin:0 5px 0;
	padding:0;
}

#main-menu li:last-of-type{
	border-right:1px solid white;
}
#main-menu  li{
	display: inline;
	padding: 0 10px;
	border-left:1px solid white;
}
#main-menu li a{
	padding:0px;
	margin:0;
	font-size:15px;
	color:white;
	text-decoration: none;
}
#main-menu li a:hover{
	background: black;
	color: #52CC52;
	text-decoration: none;
}

#main-menu ul{
	background: black;
	width:inherit;
}
#main-menu ul li:first-of-type{
	border-top:1px solid white;
}
#main-menu ul li:last-of-type{
	border-right:none;
}
#main-menu ul li{
	display: block;
width:inherit;
	border-left: none;
	padding:5px;
}
.nav > li > a:focus {
  text-decoration: none;
  background-color: black;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color:black 
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

h1{
	letter-spacing: -2px;
	font-size:40px;
	padding-left:25px;
	margin: 0;
}
h2{
	font-weight: bold;
	margin: 20px 0 0 8px;
	font-size: 35px;
	line-height: 37px;
}
p{
	font-family: sans-serif;
	color:white;
	font-size: 18px;
	width:45%;
	margin-left:25px;

}
a{
	color:#008F00;
}
a:hover{
	color:#52CC52;
}
img{
	float:right;
}

.smaller-content{
	padding:0px;
	margin:auto;
	margin-top:0;
	margin-bottom:0;
	width:75%;

}
.carousel-padding{
	padding-top:40px;
	padding-bottom:40px;
}
.green-content{
	overflow:hidden;
	background:#52CC52;

}

.green-content h1{
	color:#006600;
}
.green-content h2{
	color:#ffe77d;
}
.green-content img{
	margin-right: 15px;
	border-radius: 10px;
	border: 3px solid #006600;
	float:right;
	width:45%;
}
.green-content a{
	color:#ffe77d;
}
.green-content p{
	background: #009933;
	padding:10px;
	border-radius:10px;
	border: 1px solid #009933;
}
.gray-content{
	overflow: hidden;
	background:#D1D1D1;
}
.gray-content h1{
	color: #353535;
}
.gray-content h2{
	color:#006600;
}

.gray-content img{
	margin-top: 15px;
	max-height: 380px;
	max-width:35%;
	border-radius:10px;
	border:3px solid #353535;
}

.gray-content a{
	color:white;
}

.gray-content a:hover{
	color:#52CC52;
}
.gray-content p {
	background: #353535;
	border-radius:10px;
	padding: 10px;
	border: 1px solid #565656;
}
#gymratz-desc{
	float:right;
	margin-right:40px;
	width:40%;
}

#shop-img{
	margin-right:80px;
}

.orange-content{
	overflow:hidden;
	background: #E6782E;

}

.orange-content h2{
	margin: 20px 30px 0 0;
	color:#ffe77d;
	text-align: right;
}

.orange-content h1{
	color: #903A00;
	padding-right:40px;
	padding-left:0;
	text-align: right;
}
.orange-content p{
	float:left;
	margin-left:40px;
	background: #903A00;
	padding:10px;
	border-radius:10px;
	border: 1px solid #903A00;
}

.orange-content a{
	display:block;
	color:white;
}

.orange-content a:hover{
	color:#ffe77d;
}

.darkgreen-content{
	overflow:hidden;
	background: #009933;
}

.darkgreen-content h2{
	margin: 20px 30px 0 0;
	color:#ffe77d;
	text-align: right;
}

.darkgreen-content h1{
	color: #FFA319;
	padding-right:45px;
	padding-left:0;
	text-align: right;
}
.darkgreen-content p{
	float:left;
	margin-left:40px;
	background: #006600;
	padding:10px;
	border-radius:10px;
	border: 1px solid #006600;
}

.darkgreen-content a{
	display:block;
	color:white;
}

.darkgreen-content a:hover{
	color:#ffe77d;
}

footer{
	background: #1D1D1D;
}
footer p{
	font-size:14px;
	padding-top:8px;
	font-family: x-small;
	margin:auto;
	text-align: center;
	color:#ffe77d;
}
footer ul{
	margin:0;
	padding:10px;
	list-style-type: none;
	text-align: center;
}
footer ul li{
	display:inline;
	margin-right:50px;
}

footer ul li a{
	font-size:14px;
	color:#D1D1D1;
	text-decoration: none;
}

footer ul li a:hover{
	color:#ffe77d;
}
.no-float p{
	float:none;
}

.main-row{
	margin:0;

}
#columns-container{
	background: #353535;
}
.column3{
	color: white;
	background: #353535;
}
.column3 h3{
	text-align: center;
	padding-top:20px;
	color:#ffe77d;
	margin: 0;
}
.column3 ul{
	padding-top: 5px;
	margin:0;
}
.column3 li{
	font-size:small;
}
.column3 a{
	color:white;
	text-decoration: underline;
}
.column3 a:hover{
	color:#52CC52;;
}
.column3 p{
	padding:5px 25px;
	width:100%;
	margin:0;
	text-align: left;
	font-size: small;
	color: white;
	
}
.calendar-details{
	position:relative;
}

.calendar-sub-details{
	margin:0;
	padding:5px;
	position:absolute;
	top:-50px;
	left:60%;
	border: 1px solid black;
	background: white;
	width:220px;
}

.calendar-sub-details p{
	margin:0px;
	padding:0px;
	color:black;
	width: 100%;
}

.calendar-sub-details dt{
	color:gray;
	font-style: italic;
}
.weekly-calendar{
	margin: auto;
}
.centered{
	letter-spacing: 0px;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.weekly-calendar th{
	background:#338533;
	color:white;
}
.weekly-calendar td{
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	min-width:135px;
	height: 20px;
	background:#f9f9f9;
	border: 1px solid #cccccc;
}
.weekly-calendar tr{
	min-height: 100px;
}
.weekly-calendar dl{
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}
.weekly-calendar ul{
	text-decoration: none;
	padding: 0;
}
.weekly-calendar li{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 11px;
	color:gray;
}
.weekly-calendar dd{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 11px;
	color:gray;
}
.weekly-calendar dt{
	font-size: 8px;
	margin-left:2px;
	margin-top:10px;
	font-size:14px;

}
.open>.dropdown-menu{
	padding: 0;
}

.weekly-calendar-search{
	background: white;
	padding: 10px 20px;
	color: black;
}
.weekly-calendar-search table{
	border:1px solid black;
}
.weekly-calendar-search h3{
	color: #006600;
	margin: 0px;
}
.weekly-calendar-search h6{
	margin: 0px;
}
.weekly-calendar-search table{
	margin: 0px;
}
